.title {
    text-decoration: underline;
    padding: 1.5rem 0 !important;
    font-size: 20px; // Adjust the font size as per your requirements
    display: flex;
    align-items: center;
    justify-content: center; // Optional, if you want to horizontally center the text as well
  }
  